.git
.gitignore
.vscode
.idea
*.swp
*.swo
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
venv/
.venv/
htmlcov
Dockerfile.dev
docker-compose.yml
.env
.env.example
*.log
shell.log
test_*
tests/
node_modules
node_modules/
